html {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: linear-gradient(to left bottom, #41d8dd, #5583ee);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  position: relative;
}

button.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: #d4fc78;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  color: #0065b3;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}